//Jumbotron
.jumbotron-fluid {
  //background-image: url("http://localhost/MatchMaking1/public/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.fixed-bottom {
  color: whitesmoke;
}

.rightAlign {
  text-align: right;
}

.topMenu {
  position: relative;
  top: 20px;
}
.inputCard {
  position: relative;
  top: 200px;
}


