
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// custom scss imports
@import 'welcomepage';
@import 'header';

// imports
@import 'profile-card';

.navbar-laravel {
  background-color: rgba(250, 179, 34, 1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    color: rgba(32, 105, 167, 1);
    font-size: 175%
  }
}

body {
  height: 100vh;
}


.card {
  //opacity: 0.5;
  margin-bottom: 0%;
  min-height: 20vh;

  .card-header {
    font-family: 'Berkshire Swash', cursive;
    font-size: 125%;
    color: rgba(242, 16, 45, 1);
  }
}

.btn-primary {
  background-color: #49525e;
  border-color: #49525e;
}


@media screen and (min-width: 768px) {
  .footer {
    position: static;
  }

  .card {
    //opacity: 0.5;
    margin-bottom: 0%;
  }
}


.footer {
  position: relative;
  padding-bottom: 0px;
  padding-top:10px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: left;
  height: auto;
}


.footerList {
  list-style: none;
}


body {
  background-color: $body-bg;
  background-image: url('../images/bg.jpg');
  //background-image: url("https://images.unsplash.com/photo-1496602910407-bacda74a0fe4?ixlib=rb-0.3.5&s=6407ebd98a2da2c81175044807df13f1&auto=format&fit=crop&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &.modal-open {
    padding-right: 0 !important;
    //overflow-y: scroll !important;
  }
}

#app {
  height: 100%;
  padding-top:0;
  padding-bottom:0;
}

main {
  min-height: -webkit-calc(100% - 161px);
  min-height: -moz-calc(100% - 161px);
  min-height: calc(100% - 161px);
}

//flexibox starts here - ref https://codepen.io/bootstrapped/pen/OMNYpq

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.flex-row .thumbnail,
.flex-row .caption {
  flex-direction: column;
  display: flex;
  flex: 1 0 auto;
  height: auto;
  position: relative;
}
.flex-text {
  flex-grow: 1;
}
.flex-row img {
  min-width: 0;
  width: 100%;
}

.flex-row  {
  padding-left: 15px;
  padding-right: 15px;
}

.thumbnail {
  padding: 0.25rem;
  margin-bottom: 25px;
  background-color: #ede7fb;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}


/* Extra Media Query Below for Retina Iphones and Smaller */
@media only screen and (max-width : 480px){
  .flex-row > [class*='col-'] {
    width: 100%;
  }
  .flex-row  {
    padding-left: 0px;
    padding-right: 0px;
  }
}

